/* Medium Layout: 1280px. */

/*@media only screen and (min-width: 992px) and (max-width: 1280px) */


/* Tablet Layout: 768px. */
@media only screen and (min-width: 991px) and (max-width: 1024px)
  .single_blog .comment-area
    margin-top -5px
  .outstanding-cmmnt
    margin-top -1px !important
  .single_blog
    .title-outstanding
      font-size 32px !important
      padding 15px 10px !important
    h2
      display inline-block
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      -o-text-overflow ellipsis
      width 100%
    img
      width 100%
      height 100%

@media only screen and (min-width: 768px) and (max-width: 991px)
  .header_area_text
    padding-right 160px


  .single_feature i
    left 38%


  .story_image
    margin-bottom 20px


  .skills
    margin-top 50px

  .company_address
    padding 10px 26px

  .single_blog .comment-area
    margin-top -5px
  .outstanding-cmmnt
    margin-top -1px !important

  .single_blog
    .title-outstanding
      font-size 32px !important
      padding 15px 10px !important
    h2
      display inline-block
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      -o-text-overflow ellipsis
      width 100%
    img
      width 100%
      height 100%


@media only screen and (min-width: 481px) and (max-width: 640px)
  .post-oustanding
    padding 5px 0px
    display inline-block
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    -o-text-overflow ellipsis
    width 100%

  .single_blog
    .title-outstanding
      font-size 16px !important
      padding 20px 10px !important
     h2
      display inline-block
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      -o-text-overflow ellipsis
      width 100%
    p
      font-size: 12px
      margin-top: 5px

    img
      width 100%
      height 100%
/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px)
  .header
    position fixed
    z-index 999999
  header .btn-orange
    color white !important
    margin 0
    border-radius 0
  .container-mobile
    padding-right 0
    padding-left 0
  .display-desktop
    display none !important
  .display-mobile
    display inline-block !important
  header .navbar-header
    margin-left 0 !important
    margin-right 0 !important
    text-align center
  .navbar-default .navbar-brand
    width 100%
  .main-cart
    display inline-block
    padding 0 15px
  .main-nav
    background-color transparent
    display inline-block !important
    padding 10px 15px
    border-top 1px solid #ccc
    width 100%
    margin 0 auto

  .navbar-nav > li > a
    font-size 14px
  .main-nav > dropdown > a
      padding 15px 15px
  .main-nav > li > a
    margin 0
    padding 15px 15px
    color #888
    transition all ease-in 0.1s
  .main-nav > li > a:hover, .main-nav > li > a:focus
    background-color transparent
    color orange
  header .navbar-default .main-nav > li > a
    padding 0 15px
  header .navbar-default
    height auto
  h2.title-outstanding
    font-size 16px !important
    padding 20px 10px !important
  .post-out
    display none

  #content-area
    margin 160px 0px 60px
  .content-blog
    margin 0px 0px 60px !important
  #slider-area
    padding-bottom 300px


  .portfolio_content
    position relative
    margin-bottom: 0
    p
      border 2px solid #E3E3E3
      padding 20px 40px
    h3
      position absolute
      width 100%
      height auto
      top 125px
      text-align center
      font-size 24px
      color #fff
      line-height 160px
      background transparent
      text-shadow 0 1px 4px rgba(0, 0, 0, 0.51)

  .container-main
    width 100%
    padding 0

  .logo
    margin-top 0
    width 180px
    margin-top -5px

  #header_area
    padding-top 5px

    background-size cover

  .parallax .contact
    text-align center !important

  .navbar-toggle
    background-color transparent
    margin-top 30px

  .navbar-default .navbar-collapse, .navbar-default .navbar-form
    background #fff
    margin-top 20px


  .navbar-default .navbar-toggle
    border none
    display none

  .header_area_text h2
    font-size 30px


  .header_area_text
    padding-right 0


  .navbar-toggle .icon-bar
    background-color #fff


  .header_area_text
    padding-top 50px
    padding-bottom 50px


  .header_area_text a,
  .story_text a,
  .experience a,
  .call_project a
    padding 8px 10px
    margin-top 0


  .single_feature
    margin-bottom 60px


  .single_feature i
    left 40%


  .story_text h2,
  .experience h2
    margin-bottom 10px
    margin-top 10px


  .clients_say p::before
    display none


  .say
    width 85%


  .c_img
    width 15%


  .clients_say p
    padding 10px


  .clients_say
    margin-bottom 60px


  .skills h2
    margin-top 20px
    margin-bottom 10px


  .single_blog
    margin-bottom 30px
    padding 0px
    h2
      width 100%
      font-size 16px
      display inline-block
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      -o-text-overflow ellipsis
    img
      width 100%
      height 100%

     p
      font-size 12px
      margin-top 5px




  .call_to_action_text h2
    font-size 22px


  .call_to_action_text p
    font-size 12px
    margin-top 5px


  .text-right
    text-align left


  p
    font-size 12px


  h2
    font-size 22px


  .company_address p
    font-size 12px


  .company_address h2
    font-size 16px


  .company_address
    padding 10px 15px



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px)
  .single_feature i
    left 46%
    top -22%

  .single_blog img
    width 100%
