<div class="box-sidebar" ng-controller="GetQuerySearchCtrl as search">
    <!-- Blog Search -->
    <div class="box-header">
        Busqueda
    </div>
    <div class="input-group">
        <form class="navbar-form" role="search" ng-submit="search.globalSearch()">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar..." name="query"
                       ng-model="search.searchTerm" required>

                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="box-sidebar">
    <div class="box-header">
        Prendas destacadas
    </div>
    <div class="box-body">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="outstanding in outstandings">
                <a ui-sref="product_detail({slug: outstanding.slug})">{{ outstanding.title }}</a>
            </li>
        </ul>
    </div>
</div>
<div class="box-sidebar">
    <div class="box-header">
        Contáctanos
    </div>
    <div class="box-body">
        <ul class="list-group">
            <li class="list-group-item"><a href="mailto:info@bluemia.com.mx">info@bluemia.com.mx</a></li>
            <li class="list-group-item"><a href="tel:+1800229933">1800229933</a></li>
            <li class="list-group-item"><a href="#">Dirección 1</a></li>

        </ul>
    </div>
</div>