<section id="content-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 content-pages">
                <div class="container">
                    <div class="col-md-3 col-sm-4" ng-repeat="item in Item.list">
                        <div class="box-default">
                            <div class="box-header">
                                <a ui-sref="item_detail({slug: item.slug})">
                                    <div class="img-prd" style="background-image: url('{{ item.attachments[0].url}}')"></div>
                                </a>
                            </div>
                            <div class="box-container">
                                <h1>{{ item.name }}</h1>
                                <h4>{{ item.price | currency }}</h4>
                            </div>
                            <div class="box-footer">
                                <button class="btn btn-orange" ng-disabled="Item.itemInCart(item)" ng-click="Item.setItem({id: item.id, price: item.price, name: item.name, qty: 1});"><i class="fa fa-plus"></i> Agregar a carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-show="Item.busy">
                        <h3 class="text-center">Cargando <i class="fa fa-spinner fa-spin"></i></h3>
                    </div>

                    <div class="col-sm-12" ng-show="!Item.busy">
                        <h2 class="text-center" ng-show="!Item.list.length">Lo sentimos no contamos con contenido
                            disponible</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>